
@{
    ViewBag.Title = "AlienWeightResult";
}

@using SSGeek.Models;


<form>
    <div style="background-color:white">
        <h2>AlienWeightResult</h2>
        <p>If you are @ViewBag.earthWeight lbs on planet Earth, you would weigh @ViewBag.planetWeight lbs on @ViewBag.planetName</p>
    </div>
</form>

