
@{
    ViewBag.Title = "AlienTravelResult";
}



<form>
    <div style="background-color:white">
        <h2>AlienTravelResult</h2>
        <p>It would take you @ViewBag.time years to travel to @ViewBag.planetName using @ViewBag.methodName By the time you arrived you would be @ViewBag.newAge years old.</p>
    </div>
</form>