
@{
    ViewBag.Title = "AlienAgeResult";
}
@using SSGeek.Models;


<form>
    <div style="background-color:white">
        <h2>AlienAgeResult</h2>
        <p>Your age on @ViewBag.PlanetName is @ViewBag.PlanetAge</p>
    </div>
</form>

